* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.admin-layout {
  display: flex;
  height: 100vh;
}

th{
  padding: 10px;
}

.content {
  margin-left: 300px;
  padding: 50px;
  width: calc(100% - 300px);
  overflow-y: auto;
  background-color: #f0ecec;
}


.button-container {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    border: 1px solid #89A6CC;

  }
  
.table-auto {
  width: 100%;
  border-collapse: collapse;
}

.table-auto th,
.table-auto td {
  text-align: center;
}
