.sidebar-container {
    border-right: 1px solid #E5E8EB;
    width: 380px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .hoverSection:hover {
    background-color: #DFEDFF;
    cursor: context-menu;
    transition: background-color 0.3s ease;
  }
  
  .selectedMenu {
    background-color: #DFEDFF;
    color: #3867A5;
    border-right: 3px solid #3867A5;
    border-radius: 5px;
    font-weight: 900;
  }
  
  .hoverSection p{
    color: #637381;
    transition: color 0.3s ease;
  }
.selectedMenu p {
    color: #3867A5;
    transition: color 0.3s ease; 
  }
  
  .hoverSection:hover p, .selectedMenu:hover p {
    color: #3867A5;
  }
  
  .hoverSection section{
    color: #637381;
    transition: color 0.3s ease, transform 0.3s ease; 
  }
.selectedMenu section {
    color: #3867A5;
    transition: color 0.3s ease, transform 0.3s ease; 
  }
  
  .hoverSection:hover section, .selectedMenu:hover section {
    color: #3867A5; /* Màu chữ khi hover */
    transform: translateX(3px);
  }
  